@page "/shirts/{id}"

<div class="d-flex justify-content-center w-100">
<div class="d-flex flex-row justify-content-center align-items-center bg-light p-3 w-75">
    <img src="https://i.ebayimg.com/images/g/kxQAAOSweqFj0ByL/s-l1200.webp" class="shirt-image rounded-3" />
    <div class="d-flex flex-column justify-content-start align-items-start h-100 ms-3">
        <p>For men</p>
        <h1>419rupies</h1>
        <p class="fs-5">Neymar JR FC Barcelona T-Shirts from season 14/15</p>
        <p>Kolor: sraki</p>
            <div>
                <button class="btn btn-success">Add to basket</button>
            </div>
    </div>
    
</div>
</div>
@code {


   

}
