@page "/shoppingCart"
@using FootballShirtStore.Data
@using FootballShirtStore.Entities
@using Blazored.LocalStorage
@using Microsoft.EntityFrameworkCore
@inject ILocalStorageService localStorage
@inject ApplicationDbContext context
@rendermode InteractiveServer

<h3>ShoppingCart</h3>

@if (cart is not null)
{
	foreach (var item in cart)
	{
		<h1>@item.Name</h1>
	}
}
@code {

	private List<Item>? cart;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{

			var cartIds = await localStorage.GetItemAsync<List<int>>("cart");
			cart = await context.Items.Where(i => cartIds.Any(c => c == i.Id)).ToListAsync();
			StateHasChanged();
		}
	}

	// dodac skladanie ordera 
}

